.homeAdmin {
    display: flex;
    height: 100vh;
    overflow: hidden
  }
  
  .NavbarAdmin {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .adminContent {
    flex-grow: 1;
    overflow: hidden;
    background-color: #f4f4f4;
  }
  
  